<%= form_for :category, url: categories_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :budget %><br>
    <%= f.text_field :budget %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
